
body{
    font-family: sans-serif;
  }
  
  header {
    font-family: sans-serif;
    background-color: #D9D9D9;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo1 img {
    height: 50px;
  }
  
  
  .container {
      width: 80%;
      margin: auto;
      border: 1px solid #ffffff;
      padding: 20px;
      box-sizing: border-box;
      flex-grow: 1;
  }
  
  
  footer {
    background-color: #D9D9D9;
    color: #000000;
    padding: 20px 0;
    text-align: center;
    
  }
  
  .logo img {
    width: 30px;
    margin: 0 10px;
    align
  }
  
  .contact p {
    margin: 5px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
  }
  
  